div {
  border: 100px dashed #fff;
  background-color: #009;
  height: 50px;
  width: 50px;
  border-radius: 300px;
  animation: example 200ms ease 2ms infinite;
  transform-origin: center;
  transform: rotate(72deg);
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
@keyframes example {
  0%,
  20% {
    transform-origin: center;
    transform: rotate(144deg);
  }
  20%,
  40% {
    transform-origin: center;
    transform: rotate(216deg);
  }
  40%,
  60% {
  }
  60%,
  80% {
    transform-origin: center;
    transform: rotate(288deg);
  }
  80%,
  100% {
    transform-origin: center;
    transform: rotate(360deg);
  }
}

